




    /* Global Styles & Colors */
    :root {
      --color-background: #ffffff;
      --color-absent: #787c7e;
      --color-present: #c9b458;
      --color-absent: #787c7e;
      --color-correct: #6aaa64;
      --color-empty: #ffffff;
      --color-empty-border: #d3d6da;
      --color-selected-border: #aaaaaa;
    }

      html {
        height: 100%;
      }

      body {
        height: 100%;
        background-color: var(--color-background);
        margin: 0;
        padding: 0;
        /* Prevent scrollbar appearing on page transition */
        overflow-y: hidden;
        
      }


    #header {
      background-color: #6aaa64;
      
      padding:3px;
      height:2.2rem;

    }

    #title{
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 2.0rem;
      color:white;
      float:left;
      display: inline-block;
    }

    #languageselectcontainer {
      float:right;
      display: inline-block;
  

    }

    #instructioncontainer {
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 0.8rem;
      background-color: rgb(175, 204, 214);
      padding:3px;
    }

    #instructionstitle{
      font-size: 1rem;
      font-weight:bold;
    }




    .contentcontainer {
      display:inline-block;
      height:400px;

      /*border:solid 1px green;*/
    }

    #gridcontainer {
      float:left;
      /*border:solid 1px red;*/
      margin-left:10px;

    }


    #grid {   
      display: grid;
      grid: repeat(6, 62px) / auto-flow 62px;
      grid-gap: 5px;
 
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    }

    
    #wordlistcontainer {
      float:left;
      /*border:solid 1px blue;*/
      width:160px;
      margin-left:10px;
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 0.7rem;

    }

    #wordlist {
      overflow-y: scroll;
      height:400px;
    }


    .tile {
        display: inline-flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;

        background: none;
        box-shadow: none;
        border-radius: 0px;
        border:0px;

        height:62px;
        width:62px;


        font-weight:bold;
        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: #ffffff;

        caret-color: transparent;
    }


    .tile_empty {
      background-color: var(--color-empty);
      border: 2px solid var(--color-empty-border);
    }

    .tile_correct {
        background-color: var(--color-correct);
    }

    .tile_present {
        background-color: var(--color-present);
    }

    .tile_absent {
        background-color: var(--color-absent);
    }

    .tile_pop {
        animation-name: PopIn;
        animation-duration: 100ms;
    }

    .tile_selected {
      border: 2px solid var(--color-selected-border);
    }

    .input_notpresent {
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 16px;


    }

    #problems {
      width: auto;
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 0.8rem;
      color: #fca503;
      padding:5px;
    }



    #footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      padding:3px;
    }

    #footer a{
      text-decoration:none;
      font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 0.7rem;
      color:black;
    }

    #footer a:hover{
      text-decoration:underline;
    }